.photo{
    padding: 2rem 4rem;
}

.photo__grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.photo h1{
    font-family: 'Playfair Display', serif;
    padding: 1rem 0;
}

.photo__grid div{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.photo__grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}