*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    padding: 1rem;
    font-family: 'Karla', sans-serif;
}

.header{
    height: 80vh;
    background: linear-gradient(180deg,
     rgba(16, 34, 130, 0.6072) 0%,
      rgba(16, 34, 130, 0.9016) 100%), 
      url(../img/tinubu-blur.jpg);
      background-position: top;
      background-size: cover;
      color: #fff;
      position: relative;
}


.nav{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.nav-1, 
.nav-2{
    display: flex;
    align-items: center;
}

.nav-1{
    margin-left: 3.5rem;
}

.nav-2{
    margin-right: 3.5rem;
}

.nav__logo{
    margin-right: 2rem;
}

.nav-1__list, 
.nav-2__list{
    display: flex;
    list-style: none;
}

.nav-1__item,
.nav-2__item{
    padding:0 1rem;
}

.nav-1__link,
.nav-2__link{
    text-decoration: none;
    color: #fff;
}

.header__text-box{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.heading__primary{
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    text-align: center;
    display: block;
    font-size: 50px;
    font-weight: 800;
}


.features{
    margin: 4rem 6rem;
}

.row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.col__img{
    width: 100%;
    display:flex;   
}

.features__img{
    padding-top: 2rem;
    width: 50%;
    object-fit: cover;
    padding: .5rem;
}

.heading__secondary{
    font-weight: 800;
    font-size: 25px;
    line-height: 40px;
    color: #142B3C;
}

.feature__heading{
    font-family: 'Playfair Display', serif;
    padding-left: 1rem;
    font-weight: 600;
}

.features__text{
    padding: 1rem;
    line-height: 1.5rem;
}

.phrase{
    background-color: #f8f8f8;
    margin: 4rem 0;
    height: 60vh;
    position: relative;
}

.phrase__box{
    position: absolute;     
    width: 80vw;
    top: 20%;
    left: 8%;
    background: linear-gradient(180deg,
    rgba(16, 34, 130, 0.6072) 0%,
     rgba(16, 34, 130, 0.9016) 100%), 
     url(../img/phrase-img.jpg);
     background-size: cover;
     background-position: center;
}

.phrase__text-box{
    padding: 5rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: #fff;
}

.text{
    color: #fff;
}

.news{
    margin: 4rem 5rem;
}

.news__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news__text-box{
    text-align: center;
    padding-bottom: 20px;
}

.heading__tertiary{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
}
.news__grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.news__col{
    position: relative;
}
.news__col img{
    width: 100%;
    height: 100%;
}

.news__col-text-box{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,.5) 100%);
    padding-left: 5px;
    padding-bottom: 10px;
}

.news__col-text{
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 5px;
}

.btn{
    border:none;
    background-color: #ff0000;  
    color: #fff;
    padding: 3px 4px;
    border-radius: 2px;
}

.news__bottom{
    display: flex;
    justify-content: space-between;
}

.bottom-text{
    font: 400;
    font-size: 12px;
    color: #cdd5df;
    padding-right: 4px;
}

.photo-news__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 5rem;
    padding-bottom: 5rem;
}

.padding{
    padding-top: 2rem;
    padding-left: 5rem;
}

.photo-news{
    background-image:linear-gradient(to bottom, #272727c7, #272727b7), url(../img/paint-wall.jpg);
}

.photo{
    width: 100%;
    height: 100%;
}

.photo-news__col{
    position: relative;
}

.photo-news__flex-all{
    display: flex;
    flex-direction: column;
}

.photo-news__flex img{
    width: 50%;
    padding-right: 6px;
}

.photo-news__flex{
    display: flex;
    padding: 5px;
}

.photo-news__text{
    font-size: 13px;
    color: #fff;
    line-height: 20px;
    padding-top: 5px;
}

.photo__text{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #fff;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.5));
    padding-left: 5px;
    padding-bottom: 10px;
}

.footer{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #121926;
}

.footer__text{
    padding-left: 2rem;
    color: #fff;
}

.footer__icons{
    display: flex;
    padding-right: 20px;
}

.footer__icons img{
    width: 40px;
    padding-left: 15px;
}